@model List<Visitante>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="card">
    <div class="card-header">
        Lista de Visitantes
    </div>
    <div class="card-body">

        <a asp-action="Visitante" asp-controller="Home" asp-route-dui="" class="btn btn-success btn-sm">Nuevo Visitante</a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>DUI</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Telefono</th>
                    <th>Generacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Dui</td>
                        <td>@item.Nombre</td>
                        <td>@item.Email</td>
                        <td>@item.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                        <td>@item.Telefono</td>
                        <td>@item.Generacion</td>
                        <td>
                            <a asp-action="Visitante" asp-controller="Home" asp-route-dui="@item.Dui" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Home" asp-route-dui="@item.Dui" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        // Validación del cliente para asegurarse de que se apliquen las reglas
        $(document).ready(function () {
            $("form").submit(function (e) {
                if (!this.checkValidity()) {
                    e.preventDefault();
                    e.stopPropagation();
                }
                $(this).addClass("was-validated");
            });
        });
    </script>
}
